<div class="panel panel-primary panel-heading">
  <h5 class="panel-title">
      <a routerLink="edit">Edit Routine</a> | <a routerLink="view" >View Routine</a> | <a routerLink="login" >Login</a>
  </h5>

</div>

<!--<html>
<body background="bg.png">
<h1> </h1>
<p><a href="../src/app/navigation/bg.png">Visit W3Schools.com!</a></p>
</body>
</html>-->


<!--
<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li>
        <a routerLink="view">View</a>
    </li>
    <li>
        <a routerLink="edit">Edit</a>
    </li>
    <li>
        <a routerLink="login">Login</a>
    </li>
  </ul>
</nav>
-->