<div>
    
<br-routine-filter></br-routine-filter>
<br-routine-table [isEditable]="true"></br-routine-table>


<button type="button" onclick="document.location='./login'">Logout</button>
</div>

<!--<html>
    <head>

    </head>
    <body>
        <div id="container">
            <div id="header">

            </div>
        </div>
        <div id="content">
            <div id="nav">

            </div>
            <div id="main">

            </div>
            <div id="footer">
            
            </div>
        </div>
    </body>
</html>-->
